name: e-maple-watch

on:
  workflow_dispatch:
  schedule:
    - cron: '5/10 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run watcher
        run: python e_maple_mo_jobs_watch.py
